
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
          content="unique login form,leamug login form,boostrap login form,responsive login form,free css html login form,download login form">
    <meta name="author" content="leamug">
    <title>Login Form </title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/UserRegister.css" rel="stylesheet" />    
</head>

<body>

    <div class="min-h-screen bg-no-repeat bg-cover bg-center">
        <div class="flex justify-end">
            <div class="bg-white min-h-screen lg:w-2/3 w-full flex justify-center items-center">
                <div class="sm:w-1/2 w-full px-5">
                    <form>
                        <div>
                            <h1 class="text-4xl font-black text-indigo-800">Login</h1>
                        </div>
                        <div class="my-3">
                            <label class="block text-md mb-2" for="email">Username or Email</label>
                            <input class="px-4 w-full border-2 py-2 rounded-md text-sm outline-none" type="email" name="password" placeholder="email">
                        </div>
                        <div class="mt-5">
                            <label class="block text-md mb-2" for="password">Password</label>
                            <input class="px-4 w-full border-2 py-2 rounded-md text-sm outline-none" type="password" name="password" placeholder="password">
                        </div>
                                            
                    </form>
                    <p class="mt-8"> Dont have an account? <span class="cursor-pointer text-blue-600"> Sign up free</span></p>
                    @*<span class="text-sm text-indigo-700 hover:underline cursor-pointer">Forgot username/password?</span>*@
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Content/Script/popper.min.js"></script>
<scripts src="https://kit.fontawesome.com/a076d05399.js"></scripts>
