<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    
</head>
<body>  

    @*<div class="alert alert-success">
        <h6> Success </h6>
        <span class="message">User Registered Successfull !</span>
    </div>
    <div class="alert alert-danger">
        <h5> Error </h5>
        <span class="message">User Registered Failed !</span>
    </div>
    <div class="alert alert-info">
        <h5> Info </h5>
        <span class="message">User Registered Info !</span>
    </div>*@

    <div class="container body-content">
        @RenderBody()
        <hr />       
    </div>    
</body>
</html>